.bacon {
    background-color: green;
}

.broccoli {
    background-color: red;
}

body {
    background-color: #EDE4E0;
}

h1 {
    color: #967E76;
    font-size: 200px;
}

img {
    background-color: yellow;
}