#heading {
    color: #967E76;
    font-size: 200px;
}

.bacon {
    background-color: green;
}

.broccoli {
    background-color: red;
}

.circular {
    border-radius: 100%;
}

body {
    background-color: #EDE4E0;
}

h1 {
    color: green;
    font-size: 200px;
}

img:hover {
    background-color: gold;
}